@use '../../scss/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__calc {
    color: var(--color-text);
    font-size: 1.875rem;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-top: 14px;
  }

  &__text {
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

  &__wrapper {
    position: relative;
  }

  &__numbers {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);

    span {
      font-size: 0.75rem;
      color: var(--color-text);
    }
  }
}

.range-slider {
  position: relative;
}

.toggleDef {
  height: 26px;
  appearance: none;
  width: 70px;
  border-radius: 25px;
  padding: 0 4px;
  cursor: pointer;
  outline: none;
  background-color: var(--bg-toogle);
}

.toggleDef::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-toogle); /* Cor do thumb */
  cursor: pointer;
}

.toggleDef::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-toogle); /* Cor do thumb */
  cursor: pointer;
}
